# Dependencies
/vendor/
/node_modules/

# Build files
/build/*
!/build/.gitkeep

# IDE files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*
!.env.example

# Test coverage
/coverage/
.phpunit.result.cache

# Composer
composer.phar
composer.lock

# NPM/Yarn
package-lock.json
yarn.lock

# WordPress
*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
